<a href="https://colab.research.google.com/github/hajri94/research-project/blob/main/Copy_of_research_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
import datetime as dt

In [14]:
from google.colab import files
uploaded = files.upload()

Saving 10298C.xlsx to 10298C (2).xlsx

In [15]:
import io 
df = pd.read_excel(io.BytesIO(uploaded['10298C.xlsx']))
df=df.round(1)
df[df==0] = np.nan
df['Hour_day']=df['Hour_day'].fillna(0)
df

,Day,Day_month,Month,Year,Hour,Hour_day,Week_Day,Temperature,POWER1,READ_DATE
0,1,1,1,2019,1,0.0,TUE,-1.1,6.4,2019-01-01 00:00:00
1,1,1,1,2019,2,1.0,TUE,-0.9,6.2,2019-01-01 01:00:00
2,1,1,1,2019,3,2.0,TUE,-0.8,6.1,2019-01-01 02:00:00
3,1,1,1,2019,4,3.0,TUE,-0.6,6.1,2019-01-01 03:00:00
4,1,1,1,2019,5,4.0,TUE,-0.1,6.1,2019-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...
8755,365,31,12,2019,8756,19.0,TUE,0.5,6.0,2019-12-31 19:00:00
8756,365,31,12,2019,8757,20.0,TUE,-0.7,6.2,2019-12-31 20:00:00
8757,365,31,12,2019,8758,21.0,TUE,-1.3,6.4,2019-12-31 21:00:00
8758,365,31,12,2019,8759,22.0,TUE,-1.7,6.5,2019-12-31 22:00:00
8759,365,31,12,2019,8760,23.0,TUE,-2.0,6.7,2019-12-31 23:00:00

In [29]:
for date in df[df.isna().any(axis=1)].READ_DATE:
   df[df.READ_DATE == date] = df[df.READ_DATE == date].fillna\
                                                   (df[(df.READ_DATE.dt.hour == date.hour)].mean())
df=df.round(1)
df

,Day,Day_month,Month,Year,Hour,Hour_day,Week_Day,Temperature,POWER1,READ_DATE
0,1,1,1,2019,1,0.0,TUE,-1.1,6.4,2019-01-01 00:00:00
1,1,1,1,2019,2,1.0,TUE,-0.9,6.2,2019-01-01 01:00:00
2,1,1,1,2019,3,2.0,TUE,-0.8,6.1,2019-01-01 02:00:00
3,1,1,1,2019,4,3.0,TUE,-0.6,6.1,2019-01-01 03:00:00
4,1,1,1,2019,5,4.0,TUE,-0.1,6.1,2019-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...
8755,365,31,12,2019,8756,19.0,TUE,0.5,6.0,2019-12-31 19:00:00
8756,365,31,12,2019,8757,20.0,TUE,-0.7,6.2,2019-12-31 20:00:00
8757,365,31,12,2019,8758,21.0,TUE,-1.3,6.4,2019-12-31 21:00:00
8758,365,31,12,2019,8759,22.0,TUE,-1.7,6.5,2019-12-31 22:00:00
8759,365,31,12,2019,8760,23.0,TUE,-2.0,6.7,2019-12-31 23:00:00