<a href="https://colab.research.google.com/github/hajri94/research-project/blob/main/data_cleaning_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt 
import matplotlib.pyplot as plt
from numpy import percentile

In [ ]:
# we upload the excel file that contain multiple spreadsheets.(each spreadsheet contain a subset of temperature)
from google.colab import files
uploaded = files.upload()

Saving removeB.xlsx to removeB.xlsx

In [ ]:
# read each spreadsheet in the file.
import io 
df1 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name=0)
df2 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="2.5")
df3 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="5")
df4 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="7.5")
df5 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="10")
df6 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="12.5")
df7 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="15")
df8 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="17.5")
df9 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="20")
df10 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="22.5")
df11= pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="25")
df12 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="27.5")
df13 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="30")
df14 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="-2.5")
df15 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="-5")
df16= pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="-7.5")
df17= pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="-10")
df18 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="-12.5")
df19 = pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="-15")
df20= pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="-17.5")
df21= pd.read_excel(io.BytesIO(uploaded['removeB.xlsx']), sheet_name="-20")

In [ ]:
#identify outliers using IQR.
for x in ['POWER']:
    q75,q25 = np.percentile(df21.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
 
    df21.loc[df21[x] < min,x] = np.nan
    df21.loc[df21[x] > max,x] = np.nan
    df21

In [ ]:
# remove outliers
df21.isnull().sum()

Temperature    0
POWER          2
READ_DATE      0
dtype: int64

In [ ]:
#Filling  the missing values in energy consumption  by the average values from the same hour,taken from rest of the data
for date in df21[df21.isna().any(axis=1)].READ_DATE:
   df21[df21.READ_DATE == date] = df21[df21.READ_DATE == date].fillna\
                                                   (df21[(df21.READ_DATE.dt.hour == date.hour)].mean())
df21['POWER']=df21['POWER'].round(2)
df21

   Temperature  POWER           READ_DATE
0   -18.184457   59.5 2019-01-22 03:00:00
1   -18.546843   60.4 2019-01-22 04:00:00
2   -19.035607   46.7 2019-01-22 05:00:00
3   -19.012555    NaN 2019-01-22 06:00:00
4   -19.317102   68.0 2019-01-22 07:00:00
5   -19.513873   65.4 2019-01-22 08:00:00
6   -18.883075    NaN 2019-01-22 09:00:00

In [ ]:
# convert the dataframe into new excel file.
# create a excel writer object 
with pd.ExcelWriter("path to file\organized data.xlsx") as writer: 
    # use to_excel function and specify the sheet_name and index
    # to store the dataframe in specified sheet
  df1.to_excel(writer, sheet_name="0", index=False)  
  df2.to_excel(writer, sheet_name="2.5", index=False)
  df3.to_excel(writer, sheet_name="5", index=False) 
  df4.to_excel(writer, sheet_name="7.5", index=False)  
  df5.to_excel(writer, sheet_name="10", index=False)
  df6.to_excel(writer, sheet_name="12.5", index=False) 
  df7.to_excel(writer, sheet_name="15", index=False)  
  df8.to_excel(writer, sheet_name="17.5", index=False)
  df9.to_excel(writer, sheet_name="20", index=False) 
  df10.to_excel(writer, sheet_name="22.5", index=False)  
  df11.to_excel(writer, sheet_name="25", index=False)
  df12.to_excel(writer, sheet_name="27.5", index=False) 
  df13.to_excel(writer, sheet_name="30", index=False)  
  df14.to_excel(writer, sheet_name="-2.5", index=False)
  df15.to_excel(writer, sheet_name="-5", index=False) 
  df16.to_excel(writer, sheet_name="-7.5", index=False)  
  df17.to_excel(writer, sheet_name="-10", index=False)
  df18.to_excel(writer, sheet_name="-12.5", index=False) 
  df19.to_excel(writer, sheet_name="-15", index=False)  
  df20.to_excel(writer, sheet_name="-17.5", index=False)
  df21.to_excel(writer, sheet_name="-20", index=False)