<a href="https://colab.research.google.com/github/hajri94/research-project/blob/main/research_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [25]:
from google.colab import files
uploaded = files.upload()

Saving 10045.xlsx to 10045 (1).xlsx

In [26]:
import io 
df = pd.read_excel(io.BytesIO(uploaded['10045.xlsx']))
df

      Unnamed: 0  METERID   ENERGY  ...  SEC_FLOW  SEC_RETURN           READ_DATE
0            NaN    10045   12.677  ...     34.64       29.84 2019-01-01 00:00:00
1            NaN    10045   12.697  ...     34.57       29.97 2019-01-01 01:00:00
2            NaN    10045   12.717  ...     34.51       29.84 2019-01-01 02:00:00
3            NaN    10045   12.764  ...     50.92       40.11 2019-01-01 03:00:00
4            NaN    10045   12.802  ...     50.29       39.68 2019-01-01 04:00:00
...          ...      ...      ...  ...       ...         ...                 ...
9018         NaN    10045  194.955  ...     49.60       39.74 2019-12-31 19:00:00
9019         NaN    10045  194.991  ...     49.79       39.80 2019-12-31 20:00:00
9020         NaN    10045  195.027  ...     49.91       39.93 2019-12-31 21:00:00
9021         NaN    10045  195.063  ...     50.48       39.93 2019-12-31 22:00:00
9022         NaN    10045  195.101  ...     51.04       40.68 2019-12-31 23:00:00

[9023 rows x 13 columns]